/**
 * @filefeedback.module
 * This file is used to add rating star.
 *
 */

.whitestar {
  background-image: url("/sites/all/modules/feedback/images/star3.jpg");
}

.redstar {
  background-image: url("/sites/all/modules/feedback/images/star1.jpg");
}

.spanspace {
  display: inline-block;
  height: 20px;
  width: 22px;
}

.divspace {
  height: 50px;
  width: 290px;
}

#views-exposed-form-view-csv-page .views-widget-filter-name {
  display: none;
}

.views-exposed-widget.views-submit-button .form-item {
  display: inline-block;

}
#edit-submit-view-csv.form-submit {
  margin-left: 10px;
  margin-top: 0px;
}

.mytheme {
  background-color: #D8DDE7;
  height: auto;
  width: 150px;
  padding: 15px;
}
