.whitestar{
  background-image: url("/sites/all/modules/feedback/images/star3.jpg");
}
.redstar{
  background-image: url("/sites/all/modules/feedback/images/star1.jpg");
}
.spanspace{
  display: inline-block;
  height: 20px;
  width: 22px;
}
.divspace{
  height: 110px;
  width: 290px;
}
.divspace:span
{

}
.knowledge{}
.attitude{}
.friendliness{}
